//this is titled navbar but in reality it controls most of the main styling
$mainc: rgba(210, 132, 80, 0.9);
$fontc: #080F0A;
$link: #18241a;

.navbar {
    width: 100%;
    display: flex;
    border-bottom: solid black 1px;
    height: 5vh;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background-color: $mainc;
    z-index: 1;
}

body, .container {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    background-image: url("../images/campfirebg.png");
    background-attachment: fixed;
    background-size: 100%;
    color: $fontc;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: relative;
    top: 5vh;
}

.mainbadge {
    width: 48%;
    border: solid black 1px;
    border-radius: 5px;
    margin: 0.5vh;
    padding: 2%;
    background-color: $mainc;
}

a {
    color: $link;
}