// god i love scss

@use 'navbar';

.charicon {
    width: 35%;
    border-radius: 20px;
    margin-right: 2%;
}

.char {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menubadge {
    width: 43%;
    border: solid black 1px;
    border-radius: 5px;
    margin: 0.5vh;
    padding: 2%;
    text-align: center;
    background-color: navbar.$mainc;
}